<li class="search-suggest-product js-result">
    {% block layout_search_suggest_result_link %}
        <a href="{{ block.hit.products_seo_url[0] }}"
           title="{{ block.hit.title }}"
           class="search-suggest-product-link">
            <div class="row align-items-center no-gutters">
                {% block layout_search_suggest_result_image %}
                    <div class="col-auto search-suggest-product-image-container">
                        <img src="{{ block.hit.products_image[0] }}"
                             srcset="{{ block.hit.products_image[0] }}"
                             class="search-suggest-product-image"
                             alt="{{ block.hit.products_title }}"
                        />
                    </div>
                {% endblock %}

                {% block layout_search_suggest_result_name %}
                    <div class="col search-suggest-product-name">
                        {{ block.hit.title }}
                    </div>
                {% endblock %}

                {% block layout_search_suggest_result_price %}
                    <div class="col-auto search-suggest-product-price">
                        <br><small class="search-suggest-product-reference-price">{{ block.hit.discountedPrice|currency }} {{ "general.star"|trans|sw_sanitize }}</small>
                    </div>
                {% endblock %}
            </div>
        </a>
        {% for bxblock in block.blocks %}
            {% set narrativeContent = {'block' : bxblock } %}
            {% sw_include bxblock.template with narrativeContent %}
        {% endfor %}
    {% endblock %}
</li>
